footer {
    box-sizing: border-box;
    margin: 0;
    padding: 10px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    color: white;
    background: linear-gradient(to right,
            var(--footer-backgroundColor-primary),
            var(--footer-backgroudColor-secondary));

    min-height: var(--footer-height);
}

@media screen and (max-width: 950px) and (min-width: 500px) {
    footer {
        padding: 10px 10%;
    }
}